<div id="eth_block">
  <h1><%= eth_block.number %> (<%= Integer(eth_block.number) %>)</h1>
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>USD</th>
      </tr>
    </thead>
    <tbody>
      <% eth_price = EthPrice.fetch_latest %>
      <% eth_block.eth_transactions.each do |txn| %>
        <tr>
          <td><%= txn.from %></td>
          <td><%= txn.to %></td>
          <td><%= txn.value %></td>
          <td><%= number_to_currency(eth_price.convert_to_usd(txn.value)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
